.secid-viridia {
    background-color: green;
    color: white;
}

.secid-greennill {
    background-color: lime;
}

.secid-skyly {
    background-color: cyan;
}

.secid-bluefull {
    background-color: blue;
    color: white;
}

.secid-purplenum {
    background-color: purple;
    color: white;
}

.secid-pinkal {
    background-color: pink;
}

.secid-redria {
    background-color: red;
    color: white;
}

.secid-oran {
    background-color: orange;
}

.secid-yellowboze {
    background-color: yellow;
}

.secid-whitill {
    background-color: #e6e6e6;
}

.diff-group-divider {
    --bs-border-width: 1px;
    border-left: calc(var(--bs-border-width) * 2) solid currentcolor;
    /*border-left-width: 3px !important;*/
}
