@page "/items"
@using PSOServerWebsite.Services
@inject ItemsService itemsService

<PageTitle>Items</PageTitle>

<h1>Items</h1>

@if (itemsFiltered == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <InputText DisplayName="Filter" @bind-Value="filter" @bind-Value:after="OnFilterValueChanged" placeholder="Filter name" />

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in itemsFiltered)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [MaybeNull] private ItemModel[] items;
    private string filter = "";
    private ItemModel[]? itemsFiltered;

    protected override async Task OnInitializedAsync()
    {
        items = (await itemsService.GetItemsAsync()).ToArray();
        OnFilterValueChanged();
    }

    private void OnFilterValueChanged()
    {
        if (string.IsNullOrEmpty(filter))
            itemsFiltered = items;
        else
            itemsFiltered = items?.Where(i => i.Name.Equals(filter, StringComparison.InvariantCultureIgnoreCase)).ToArray();
    }
}
