h3, h4 {
    position: sticky;
    background-color: white;
}

h3 {
    top: 3.5rem;
}

h4 {
    top: 5.5rem;
}

.rare-drops {
    font-size: x-small;
}

    .rare-drops thead {
        position: sticky;
        top: 5.9rem;
    }

    .rare-drops > :not(:last-child) > :last-child > ::deep * {
        border-bottom-color: black !important;
    }

    .rare-drops tr > :first-child {
        width: 150px;
    }

.probability {
    color: darkgray;
}

    .probability::before {
        content: '(';
    }

    .probability::after {
        content: ')';
    }
