/* /Components/Pages/ItemMoreInfoModal.razor.rz.scp.css */
.secid-viridia[b-kbgh1jtcu9] {
    background-color: green;
    color: white;
}

.secid-greennill[b-kbgh1jtcu9] {
    background-color: lime;
    color: black;
}

.secid-skyly[b-kbgh1jtcu9] {
    background-color: cyan;
    color: black;
}

.secid-bluefull[b-kbgh1jtcu9] {
    background-color: blue;
    color: white;
}

.secid-purplenum[b-kbgh1jtcu9] {
    background-color: purple;
    color: white;
}

.secid-pinkal[b-kbgh1jtcu9] {
    background-color: pink;
    color: black;
}

.secid-redria[b-kbgh1jtcu9] {
    background-color: red;
    color: white;
}

.secid-oran[b-kbgh1jtcu9] {
    background-color: orange;
    color: black;
}

.secid-yellowboze[b-kbgh1jtcu9] {
    background-color: yellow;
    color: black;
}

.secid-whitill[b-kbgh1jtcu9] {
    background-color: #e6e6e6;
    color: black;
}
/* /Components/Pages/ItemName.razor.rz.scp.css */
.icon[b-8iu89sxthw] {
    width: 16px;
    height: 16px;
    margin-inline-end: 2px;
}
/* /Components/Pages/Probability.razor.rz.scp.css */
.probability[b-1nryjvmqa7] {
    color: darkgray;
    font-weight: normal;
}

    .probability[b-1nryjvmqa7]::before {
        content: '(';
    }

    .probability[b-1nryjvmqa7]::after {
        content: ')';
    }
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-x8btpx0o3k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-x8btpx0o3k] {
    flex: 1;
}

.top-row[b-x8btpx0o3k] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-x8btpx0o3k]  a, .top-row[b-x8btpx0o3k]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-x8btpx0o3k]  a:hover, .top-row[b-x8btpx0o3k]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-x8btpx0o3k]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 767.98px) {
    .top-row[b-x8btpx0o3k] {
        justify-content: space-between;
    }

        .top-row[b-x8btpx0o3k]  a, .top-row[b-x8btpx0o3k]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 768px) {
    .page[b-x8btpx0o3k] {
        flex-direction: row;
    }

    .top-row[b-x8btpx0o3k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-x8btpx0o3k]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-x8btpx0o3k], article[b-x8btpx0o3k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.sidebar[b-zmzbrc2a7t] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.navbar-toggler[b-zmzbrc2a7t] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zmzbrc2a7t] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zmzbrc2a7t] {
    font-size: 1.1rem;
}

.bi[b-zmzbrc2a7t] {
    transform: scale(1.5);
    margin-right: 0.75rem;
}

.nav-item[b-zmzbrc2a7t] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zmzbrc2a7t] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zmzbrc2a7t] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zmzbrc2a7t]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-zmzbrc2a7t]  a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item[b-zmzbrc2a7t]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (max-width: 767.98px) {
    .sidebar.collapse[b-zmzbrc2a7t] {
        /* Never collapse the sidebar for small screens */
        display: block;
    }
}

@media (min-width: 768px) {
    .sidebar[b-zmzbrc2a7t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

        .sidebar.collapse[b-zmzbrc2a7t] {
            width: 75px;
        }

            .sidebar.collapse .top-row[b-zmzbrc2a7t] {
                padding-left: 0 !important;
            }

            .sidebar.collapse .label[b-zmzbrc2a7t] {
                display: none;
            }

    .navbar-toggler[b-zmzbrc2a7t] {
        display: none;
    }

    .collapse[b-zmzbrc2a7t] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-zmzbrc2a7t] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Changelog.razor.rz.scp.css */
.secid-viridia[b-ntzvf8vonx] {
    background-color: green;
    color: white;
}

.secid-greennill[b-ntzvf8vonx] {
    background-color: lime;
}

.secid-skyly[b-ntzvf8vonx] {
    background-color: cyan;
}

.secid-bluefull[b-ntzvf8vonx] {
    background-color: blue;
    color: white;
}

.secid-purplenum[b-ntzvf8vonx] {
    background-color: purple;
    color: white;
}

.secid-pinkal[b-ntzvf8vonx] {
    background-color: pink;
}

.secid-redria[b-ntzvf8vonx] {
    background-color: red;
    color: white;
}

.secid-oran[b-ntzvf8vonx] {
    background-color: orange;
}

.secid-yellowboze[b-ntzvf8vonx] {
    background-color: yellow;
}

.secid-whitill[b-ntzvf8vonx] {
    background-color: #e6e6e6;
}

.diff-group-divider[b-ntzvf8vonx] {
    --bs-border-width: 1px;
    border-left: calc(var(--bs-border-width) * 2) solid currentcolor;
    /*border-left-width: 3px !important;*/
}
/* /Pages/Quests.razor.rz.scp.css */
.quests-items[b-7y5dhq6oes] {
    font-size: x-small;
}
.header-with-probability th > div[b-7y5dhq6oes] {
    display: grid;
    grid-template-columns: auto max-content max-content;
}

.probability[b-7y5dhq6oes] {
    color: darkgray;
    font-weight: normal;
}

    .probability[b-7y5dhq6oes]::before {
        content: ' (';
    }

    .probability[b-7y5dhq6oes]::after {
        content: ')';
    }
/* /Pages/RareDrops.razor.rz.scp.css */
.secid-viridia[b-ifimzlxf9d] {
    background-color: green;
    color: white;
    border-bottom-color: black !important;
}
.secid-greennill[b-ifimzlxf9d] {
    background-color: lime;
}
.secid-skyly[b-ifimzlxf9d] {
    background-color: cyan;
}
.secid-bluefull[b-ifimzlxf9d] {
    background-color: blue;
    color: white;
    border-bottom-color: black !important;
}
.secid-purplenum[b-ifimzlxf9d] {
    background-color: purple;
    color: white;
    border-bottom-color: black !important;
}
.secid-pinkal[b-ifimzlxf9d] {
    background-color: pink;
}
.secid-redria[b-ifimzlxf9d] {
    background-color: red;
    color: white;
    border-bottom-color: black !important;
}
.secid-oran[b-ifimzlxf9d] {
    background-color: orange;
}
.secid-yellowboze[b-ifimzlxf9d] {
    background-color: yellow;
}
.secid-whitill[b-ifimzlxf9d] {
    background-color: #e6e6e6;
}

h3[b-ifimzlxf9d], h4[b-ifimzlxf9d] {
    position: sticky;
    background-color: white;
}
h3[b-ifimzlxf9d] {
    top: 3.5rem;
}
h4[b-ifimzlxf9d] {
    top: 5.5rem;
}
.rare-drops[b-ifimzlxf9d] {
    font-size: x-small;
}
.rare-drops thead[b-ifimzlxf9d] {
    position: sticky;
    top: 5.9rem;
}

.probability[b-ifimzlxf9d] {
    color: darkgray;
}
    .probability[b-ifimzlxf9d]::before {
        content: '(';
    }
    .probability[b-ifimzlxf9d]::after {
        content: ')';
    }
