.secid-viridia {
    background-color: green;
    color: white;
}

.secid-greenill {
    background-color: lime;
    color: black;
}

.secid-skyly {
    background-color: cyan;
    color: black;
}

.secid-bluefull {
    background-color: blue;
    color: white;
}

.secid-purplenum {
    background-color: purple;
    color: white;
}

.secid-pinkal {
    background-color: pink;
    color: black;
}

.secid-redria {
    background-color: red;
    color: white;
}

.secid-oran {
    background-color: orange;
    color: black;
}

.secid-yellowboze {
    background-color: yellow;
    color: black;
}

.secid-whitill {
    background-color: #e6e6e6;
    color: black;
}
